.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  color: #333;
  margin-top: 10px;
}

.product-card p {
  color: #555;
}
